body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

a {
    text-decoration: none;
    color: #000;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    line-height: 25px;
    min-height:40px;
    margin: -9px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  /* иконки ватсап телега */

  .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: 5px;
    padding: 6px;
  }
  .social-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
  }

  .social-icon:hover {
    transform: scale(1.2);
  }
  
  /* 48em = 768px */
  
  @media (min-width: 75em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    
  }

main {
    padding: 20px;
    text-align: center;   
}

.work {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.work img {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s;
}

.work img:hover {
    transform: scale(1.05);
}

.work figcaption {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

/* General styles */
.container__footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer__contact, .footer__form {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer__title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  /* Form styles */
  .footer__form input, .footer__form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  .footer__form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .footer__form button:hover {
    background-color: #f4f4f4;
  }



@media (max-width: 768px) {
    .work {
        width: 100%;
    }
}